<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6356092898-8anqnmrhe2huvfnk0u7jp0pl3p1k3hng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6356092898-8anqnmrhe2huvfnk0u7jp0pl3p1k3hng</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>6356092898-7tbmnqobhp7qeriu8qa7gsemm1p0mj8r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDte_fjwKv3JOr5yYpuYIAZyCqNnGntPxE</string>
	<key>GCM_SENDER_ID</key>
	<string>6356092898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.develynapp</string>
	<key>PROJECT_ID</key>
	<string>develynapp</string>
	<key>STORAGE_BUCKET</key>
	<string>develynapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6356092898:ios:567583259a56adf3455bbb</string>
	<key>DATABASE_URL</key>
	<string>https://develynapp.firebaseio.com</string>
</dict>
</plist>